---
apiVersion: ibp.com/v1beta1
kind: IBPConsole
metadata:
  name: "{{ console_name }}"
spec:
  arch:
    - "{{arch}}"
  license:
    accept: true
  serviceAccountName: "{{ service_account }}"
  email: "{{ console_email }}"
  password: "{{ console_default_password }}"
  allowDefaultPassword: true
  imagePullSecrets:
  - "{{ image_pull_secret }}"
  networkinfo:
    domain: "{{ console_domain }}"
  images:
    deployerImage: "{{deployer_image}}"
    deployerTag: "{{deployer_image_label}}"
    consoleInitImage: "{{init_image}}"
    consoleInitTag: "{{init_image_label}}"
    consoleImage: "{{console_image}}"
    consoleTag: "{{console_image_label}}"
    configtxlatorImage: "{{tools_image}}"
    configtxlatorTag: "{{tools_image_label}}"
    couchdbImage: "{{couchdb_image}}"
    couchdbTag: "{{couchdb_image_label}}"
{%+ if console_versions is defined %}
  versions:
    {{ console_versions | to_nice_yaml(indent=2, width=1024) | indent(4, false) }}
{% endif %}
  networkinfo:
    domain: "{{console_domain}}"
  storage:
    console:
      class: "{{ console_storage_class }}"
      size: "{{ console_storage_size }}"
{%+ if console_tls_secret is defined %}
  tlsSecretName: "{{ console_tls_secret }}"
{% endif %}
{%+ if zones is defined %}
  clusterdata:
    zones:
{%+ for zone in zones %}
    - "{{ zone }}"
{% endfor %}
{% endif %}
  usetags: true
  version: 1.0.0
  resources:
    init:
      limits:
        cpu: 100m
        memory: 200M
      requests:
        cpu: 10m
        memory: 20M
    configtxlator:
      limits:
        cpu: 25m
        ephemeral-storage: 1G
        memory: 50Mi
      requests:
        cpu: 25m
        ephemeral-storage: 100M
        memory: 50Mi
    couchdb:
      limits:
        cpu: 500m
        ephemeral-storage: 1Gi
        memory: 1000Mi
      requests:
        cpu: 50m
        ephemeral-storage: 100Mi
        memory: 128Mi
    deployer:
      limits:
        cpu: 100m
        ephemeral-storage: 1G
        memory: 200Mi
      requests:
        cpu: 100m
        ephemeral-storage: 100M
        memory: 128Mi
    console:
      limits:
        cpu: 500m
        ephemeral-storage: 1G
        memory: 1000Mi
      requests:
        cpu: 50m
        ephemeral-storage: 100M
        memory: 128Mi