#
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ image_pull_secret }}"
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: "{{
    {
      'auths': {
        image_registry: {
          'email': image_registry_email,
          'username': image_registry_username,
          'password': image_registry_password,
          'auth': (image_registry_username ~ ':' ~ image_registry_password) | b64encode
        }
      }
    } | to_json | b64encode
  }}"
